//defualts
$dark: #000000;
$light: #ffffff;
$error_color: #c40a0a;
$success_color: #0ac439;
$body_width: 960px;
$default_font_size: 12pt;
$default_font_color: #000000;
$default_font: "Helvetica Neue", Helvetica, sans-serif;

//header
$menu_font_weight: 200;
$title_size: 24pt;

//footer
$footer_height: 50px;
$footer_font_size: 10pt;
$link_hover_color: #427fc0;
$copyright_font_color: #949599;