@import 'vars';

//defaults
body{
	width: $body_width;
	color: $default_font_color;
	font-family: $default_font;
	font-size: $default_font_size;
	font-weight: 300;
	margin: 0px auto;
}


//links
a, a:visited{ 
	color: $default_font_color; 
	text-decoration: none;
}

p{
	a {
		text-decoration: underline;
	}

	a:hover{
		color: $link_hover_color;
	}
}

h1{ 
	font-weight: 200;
	font-size: $title_size;
}

h2{
	@extend h1;
	text-align: center;
	font-size: $title_size - 2pt;
}

//buttons
button, input[type="submit"], input[type="button"]{
	padding: 5px 8px;
	background-color: $light;
	color: $dark;
	border-radius: 2px;
	border: 1px solid $dark;
	font-family: $default_font;
	outline: none;
}

button:hover, input[type="submit"]:hover, input[type="button"]:hover{
	background-color: $dark;
	color: $light;
	cursor: pointer;
}

//header
header{
	margin-bottom: 0px;
	margin-top: 30px;
	padding-bottom: 0px;
	position: relative;
	#description{
		position: absolute;
		top: 10px;
		left: 300px;
		font-size: $default_font_size - 2pt;
	}
}

//menu
nav.menu{

	margin-top: -10px;
	
	border-bottom: 1px solid $dark;

	ul {
	    margin: 0;
	    padding: 0;
	    list-style: none;
	   }

  	li { display: inline-block; }
  	li:hover{
		background-color: $dark;
	}

	a {
	   display: block;
	   padding: 5px 8px;
	   border-radius: 2px;
	   text-decoration: none;
	}

	a:hover{
		color: $light;
	}
}

//banner image
#banner{
	width: 100%;
}

//content
.content{
	padding: 20px 0px;
}

//post page stuffs
//----------------------------------------------------------------

.image-container {
	width: $body_width * 2/3 - 20;
	padding-bottom: 15px;
	border-bottom: 1px solid black;
	float: left;
	
	//images classes
	//--------------
	.main {
		width: inherit;
	}

	.thumbnail {
		height: 65px;
		margin: 0px 5px;
		cursor: pointer;
		border: 2px solid $light;
	}

	.thumbnail:hover {
		border-color: $dark;
	}

	.selected {
		border: 2px solid $dark
	}
}

.sidebar-container {

	width: $body_width * 1/3 - 20;
	float: right;
	overflow: hidden;
	a {
		text-decoration: underline;
	}

	div {
		border-bottom: 1px solid black;
		padding-bottom: 10px;

		ul {
			list-style: none;
			padding: 0px;
			margin: 0px;
			li {

			}
		}

		span {
			padding: 4px;
			display: inline-block;

		}

		h4 {
			margin: 10px 0px;
		}
	}	
}

.post-content-container {

	padding: 20px 0px;
	h1, h2, h3{
		text-align: left;
		font-weight: 400;
		margin: 5px 0px;
	}

	h4 {
		@extend h3;
		font-weight: 200;
		font-style: italic;
	}
	//clear: both;
	float: left;
	width: $body_width * 2/3 - 20;
}

//results page stuff
//----------------------------------------------------------------

.result {
	cursor: pointer;
	overflow: auto;
	$image_size: 100px;
	width: 75%;
	margin: 20px auto;
	padding-bottom: 20px;
	border-bottom: 1px solid $dark;

	img {
		width: $image_size;
		border: 2px solid $dark;
		float: left;
		margin-right: 20px;

	}

	h2 {
		text-align: center;
	}

	h3, h4, h5 {
		margin: 7px;
		font-weight: 400;
		// display: inline-block;
	}

	h4 {
		font-weight: 200;
		font-style: italic;
	}

}

//admin page stuffs
//----------------------------------------------------------------

form{

	position: relative;
	width: 80%;
	border-bottom: 1px solid $dark;
	padding-bottom: 40px;
	margin: auto;

	fieldset{
		border: 0px;
	}

	#form-load-post{
		position: absolute;
		padding-bottom: 50px;
	}

	#form-delete{
		position: absolute; left: 710px; top: 5px;
	}

	p{text-align: center;}

	label{
		display: block;
		padding-bottom: 8px;
	}

	input[type="text"]{	
		width: 100%;
		display: block;
		float: left;
		height: 20px;
	}

	textarea{
		width: 100%;
		height: 150px;
		resize: vertical; 
	}

	select{
		margin-left: 5px;
		width: 80px;
	}

	fieldset.label-side{
		display: block;
		float: left;

		label {
			display: inline-block;
		}
	}

	#image-upload-container{
		width: 400px;
		margin: 0px;
		padding: 20px 0px;
	}

	input[type="submit"]{
		font-size: $default_font_size;
		margin: auto;
		display: block;
	}

}

.error{
	color: $error_color;
}

.success{
	color: $success_color;
}

//----------------------------------------------------------------

//footer
footer{
	width: 100%;
	padding-bottom: 40px;
	border-top: 1px solid $dark;
	font-size: $footer_font_size;
	font-style: italic;
	clear: both; //this solves all the problems ever
	a, a:visited {
		color: $link_hover_color;
		text-decoration: none;
	}
	a:hover{
		text-decoration: underline;
	}
	#copyright{
		color: $copyright_font_color;
		font-size: $footer_font_size - 2pt;
	}
	img{
		width: 100px;
		float: right;
	}
}
